<div class="container">
  <!-- 首页天气banner区域 -->
  <div class="index-banner">
    <div>
      <img src="img/bcs.png" width=100% alt="" />
    </div>
    <div class="buildings">
      <img src="img/buildings.png" width=100% alt="" />
    </div>
    <div class="tower">
      <img src="img/tower + windows.png" alt="" />
    </div>
    <div class="weather_info">
      <h3>晴</h3>
      <p>上海市，闵行区</p>
      <h1>23.6°</h1>
    </div>
  </div>

  <!-- 天气详情区域 -->
  <div class="weather_detail">
    <div class="weather_detail_lf">
      <div>
        <p>天气详情</p>
        <div class="lf_data">
          <div>
            <img src="img/weather.png" alt="">
          </div>
          <div>
            <h2>23.6° <img src="img/Page 1.png" alt=""></h2>
            <p>↓16.5° &nbsp; ↑25.5°</p>
          </div>
        </div>
      </div>
    </div>
    <div class="weather-detail_rt">
      <div>
        <p>一分钟以前</p>
        <div class="rt_data">
          <table>
            <tbody>
              <tr>
                <td>能见度：</td>
                <td>55</td>
              </tr>
              <tr>
                <td>东南风：</td>
                <td>2级</td>
              </tr>
              <tr>
                <td>气压：</td>
                <td>1026.9Hpa</td>
              </tr>
              <tr>
                <td>湿度：</td>
                <td>92%</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <!-- 天气预报区域 -->
  <div style="height:200px;text-align:center;">
    天气预报区域
  </div>

  <!-- 生活指数区域 -->
  <div class="life">
    <div>
      <p>生活指数</p>
      <a>个性指数设定&gt;</a>
    </div>
    <div>
      <ul class="list">
        <li>
          <div><img src="img/fire.png" alt=""></div>
          <div>
            <h3>火险指数 <span class="color5">5级</span></h3>
            <p>易燃，加强防火</p>
          </div>
        </li>
        <li>
          <div><img src="img/drink.png" alt=""></div>
          <div>
            <h3>饮水指数 <span class="color4">4级</span></h3>
            <p>适当多饮水</p>
          </div>
        </li>
        <li>
          <div><img src="img/train.png" alt=""></div>
          <div>
            <h3>晨练指数 <span class="color3">3级</span></h3>
            <p>风不大且空气良好，适宜晨练</p>
          </div>
        </li>
        <li>
          <div><img src="img/clothes.png" alt=""></div>
          <div>
            <h3>穿衣指数 <span class="color2">2级</span></h3>
            <p>适宜穿单衣类服饰，气温适宜</p>
          </div>
        </li>
        <li>
          <div><img src="img/sick.png" alt=""></div>
          <div>
            <h3>感冒指数 <span class="color1">1级</span></h3>
            <p>不易感冒</p>
          </div>
        </li>
      </ul>
    </div>
    <div class="btn">
      <button>查看所有指数</button>
    </div>
  </div>

  <!-- 各区天气 -->
  <div class="area_weather">
    <div>
      <ul>
        <li>
          <a class="active" href="">实时温度</a>
        </li>
        <li>
          <a href="">累计雨量</a>
        </li>
        <li>
          <a href="">风速风向</a>
        </li>
      </ul>
    </div>
    <div style="height: 300px;text-align:center;">
      展示
    </div>
  </div>
</div>
