<div class="container1">
  <div  class="cef_view" >
    <!-- 加载我的环境，我的城市，我的好友的view -->
    <!-- <div ui-view></div> -->
    <div id="map" class="container" ng-controller="mycityController">


    </div>
  </div>

  <nav class="cef_nav">
    <div>
      <div>
        <div>
          <img src="img/myevn_1.png" alt="">
        </div>
        <div>
          <p>我的环境</p>
        </div>
      </div>
    </div>

    <div>
      <div>
        <div>
          <img src="img/mycity_2.png" alt="">
        </div>
        <div>
          <p class="click">我的城市</p>
        </div>
      </div>
    </div>

    <div>
      <div>
        <div>
          <img src="img/myfriends_1.png" alt="">
        </div>
        <div>
          <p>我的好友</p>
        </div>
      </div>
    </div>

  </nav>
</div>
