<div class="myrecord">
    <div class="myrecord_pic">
      <div></div>
      <p></p>
      <p>01:56</p>
    </div>
    <div class="myrecord_date">
      <h3>6月04日 星期六</h3>
      <p>丙申(猴)年 四月初一</p>
    </div>
    <div class="myrecord_weather">
      <h3>小雨转多云</h3>
      <h4>19 - 24℃</h4>
    </div>
    <div class="myrecord_info">
      <div>API:中 风力:东南风2级 穿衣指数:2级</div>
      <p>易感冒</p>
    </div>
    <div class="disco">
      <img width='100%' src="img/jump.png" alt="">
    </div>
    <div class="record_nav">
      <div class="delete_record"></div>
      <div class="record"></div>
      <div class="confirm_record"></div>
    </div>
</div>
