<div class="containeract">
  <div class="title-photo">
    <img src="/img/activity/measureact.svg"></img>
  </div>
  <div class="content-photo">
    <h1>想拥有自己的移动气象站吗？</h1>
    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;执着的气象爱好者们，想成立个人气象站吗？想成为预报员吗？立刻报名成为上海气象志愿者，佩戴炫酷有型的天气徽章，采集气象数据，发布周边环境指数，罕见的移动气象站给你承包！<br/>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;每周上传气象徽章数据即可轻松获得积分，到达一定数量后，还可以在上海气象积分商城兑换“上海天气”独家定制的礼品哦。
      </p>
  </div>
  <!-- <div class="confirm-button pink bottom-button" ng-click="jump()">我要报名</div> -->
</div>
