<div class="containeract">
  <div class="title-photo">
    <img src="/img/activity/photoact.svg"></img>
  </div>
  <div class="content-photo">
    <h1>你的镜头里有最美的上海天气 </h1>
    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;乐于分享的生活记录者们，想成为天气摄影大咖吗？每个人都拥有独家的审美视角，你的镜头里留有到不了的昨天，留有不可复制的最美上海天气。<br/>
     &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;爱天气，爱生活，爱摄影的你，快来上传你拍摄的气象大片、短视频...<br/>
     &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;与朋友分享你眼中的上海天气美景，通过集赞获取积分，到达一定数量后，还
     可以在上海气象积分商城兑换“上海天气”独家定制的礼品哦。<br/></p>
  </div>
  <div class="confirm-button pink bottom-button" style="font-weight:500;" ng-click="jump()">我要报名</div>
</div>
