<div class="containeract">
  <div class="title-photo">
    <img src="/img/activity/reportact.svg"></img>
  </div>
  <div class="content-photo">
    <h1>想成为天气主播吗？</h1>
    <h1>天气“好声音”期待您的加盟！</h1>
    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;一样的天气，不一样的报法！在这里，天气预报可以是清新的萌妹子播报，
      也可以是帅气的男神朗读；既可以用标准的普通话，也可以用阿拉上海话；你可以在在播报中加入I Love You秀恩爱，也可以给亲
      爱的朋友送出祝福……如果您对自己的声音有自信，如果您喜爱天气播报，就来这里报名吧！我们将选拔好声音录制听听天气播报
      ，说不定下一个天气主播就是你哦！<br/>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;现在开始参与报天气获得气象积分可在上海气象积分商城兑换定制礼品～</p>
  </div>
  <div class="confirm-button pink bottom-button" style="font-weight:500;" ng-click="jump()">我要报名</div>
</div>
