<div  class="cef_view" >
  <div id="searchcity" class="container"></div>
  <div class="cell-container">
    <div class="inquire">
      <div class="location_icon iconfont icon-location" ></div>
      <div class="search_box" >
        <input type="text" id="searchCity" placeholder="搜索您要查询的地址">
      </div>
    </div>
  </div>
  <div id="Searchresult" style="border:1px solid #eee;position:fixed;height:auto;top:90px;width:100%;display:none;">

  </div>
  <div class="locationicon iconfont icon-location"></div>
  <div class="confirm-button pink" style="width:260px;position:fixed;bottom:30px;left:0;right:0;" ng-click="backtophoto()">查看该位置的天气照片</div>
</div>
